Job1
Job1.common.mat
Job1.diary.txt
Job1.in.mat
Job1.jobout.mat
Job1.out.mat
Job1.state.mat
Job2
Job2.common.mat
Job2.diary.txt
Job2.in.mat
Job2.jobout.mat
Job2.out.mat
Job2.state.mat
Job3
Job3.common.mat
Job3.diary.txt
Job3.in.mat
Job3.jobout.mat
Job3.out.mat
Job3.state.mat
Job4
Job4.common.mat
Job4.diary.txt
Job4.in.mat
Job4.jobout.mat
Job4.out.mat
Job4.state.mat
matlab_metadata.mat
.DS_Store
/ToolboxRegistry
/sideprojects/colorMaterial/ColorMatStimuliRGB
/paperfigs/CSFpaper/exports

paperfigs/CSFpaper/Figure1Resources/componentFigs/DisplayComponent\.pdf

paperfigs/CSFpaper/Figure1Resources/componentFigs/MeanIsomerizationsComponent\.pdf

paperfigs/CSFpaper/Figure1Resources/componentFigs/MosaicComponent\.pdf

paperfigs/CSFpaper/Figure1Resources/componentFigs/OpticalImageComponent\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent450\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent480\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent510\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent530\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent550\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent580\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent610\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent640\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsComponent670\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent450\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent480\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent510\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent530\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent550\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent580\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent610\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent640\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsOIComponent670\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent450\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent480\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent510\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent530\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent550\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent580\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent610\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent640\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/PhotonsSceneComponent670\.png

paperfigs/CSFpaper/Figure1Resources/componentFigs/SceneComponent\.png

paperfigs/CSFpaper/Figure1Resources/script/PSF\.png

paperfigs/CSFpaper/Figure1Resources/script/ThibosAverageSubject3MMPupil-450 nm\.pdf

paperfigs/CSFpaper/Figure1Resources/script/ThibosAverageSubject3MMPupil-550 nm\.pdf

paperfigs/CSFpaper/Figure1Resources/script/ThibosBestPSFSubject3MMPupil-450 nm\.pdf

paperfigs/CSFpaper/Figure1Resources/script/ThibosBestPSFSubject3MMPupil-550 nm\.pdf

paperscripts/CSFpaper/theData16\.mat

paperscripts/CSFpaper/theData32\.mat

paperscripts/CSFpaper/theData8\.mat

sideprojects/colorMaterial/coneMosaic_0\.60degFOV\.mat

sideprojects/colorMaterial/display\.mat

sideprojects/colorMaterial/oi_0\.60degFOV\.mat

sideprojects/colorMaterial/responses_0\.60degFOV\.mat

toolbox/oi/wavefrontutils/Fig10\.pdf
/sideprojects/colorMaterial/videos&images
/sideprojects/colorMaterial/scripts/mosaic_ 2deg.png
/sideprojects/colorMaterial/responses_2.00degFOV.mat
/sideprojects/colorMaterial/responses_15.00degFOV.mat
/sideprojects/colorMaterial/PSFs.tiff
/sideprojects/colorMaterial/oi_2.00degFOV.mat
/sideprojects/colorMaterial/oi_15.00degFOV.mat
/sideprojects/colorMaterial/oi_12.00degFOV.mat
/sideprojects/colorMaterial/mosaic_ 2deg.tiff
/sideprojects/colorMaterial/coneMosaic_2.00degFOV.mat
/sideprojects/colorMaterial/coneMosaic_15.00degFOV.mat
/sideprojects/colorMaterial/coneMosaic_12.00degFOV.mat
/sideprojects/colorMaterial/C4M4_DemosaicedIsomerizations.png
/sideprojects/BLilluminationUpdatedOpticsMosaic/PSF.png
/paperscripts/areasummationscripts/SummationData_svmGaussianRF_DavilaGeisler.mat
/paperscripts/areasummationscripts/SummationData_svm_DavilaGeisler.mat
/paperscripts/areasummationscripts/SummationData_mlpt_DavilaGeisler.mat
/paperfigs/CSFpaper/theHexMosaic1.15degs.mat
/paperfigs/CSFpaper/theHexMosaic1.10degs.mat
/paperfigs/CSFpaper/PSF.png
/paperfigs/CSFpaper/mosaicDensity.pdf
/paperfigs/CSFpaper/HexMosaicDensity.pdf
/paperfigs/CSFpaper/HexMosaicConstruction.pdf
/paperfigs/CSFpaper/HexMosaic.pdf

ois\.mat

scenes\.mat
/tutorials/recipes/CSFpaper2/responseVideo.mp4
